/* ====================
    Header
==================== */

#shopify-section-header {
  
  .menu-left-bottom-border {
    border-bottom:1px solid #d5dadc;
  }
}

.main-header-wrap {
  table-layout:auto;
  height:71px;
  
  .header-content {
        
    display: table-cell;
    vertical-align: middle;
    float: none;
    width:auto;
    min-width:60px;
   
  }
  
  
  .logo-wrapper {
    width:10%;
    overflow:visible;
    

    
    #main-logo {
      display:none;
    }
    
    img#full-logo {
      display:block;
      max-width:10000% !important;
      max-height:51px;
      
    }
  }
  
  .main-nav-wrapper {

   width:100%;
    
    ul {
      text-align:center;
    }
  }
  
  ul.cart-link {
    text-align:right;
    
  white-space:nowrap;
  
    li {
      margin-left: 15px;
    }

  }
  
  a {
    color:{{ settings.header-text-colour }} !important;
    letter-spacing:1px;
    
    &:hover {
      color:$jmc-purple !important;
      
    }
  }
}

@media screen and (max-width: 1300px) {
  #main-logo {
      display:inline !important;
    }
    
    img#full-logo {
      display:none !important;


      
    }

}


@media screen and (max-width: 995px) {

  .logo-wrapper {
    display:block !important;
  @include fill-parent-abs;

    left:220px;
    right:220px;
    width:auto !important;
    
  
    
    #site-title {
      text-align:center;
    }
  }
 
  
  #top-search-wrapper {
    display:none !important;
  }
}

@media screen and (max-width: 555px) {
  .logo-wrapper {
    display:block !important;
  @include fill-parent-abs;

    left:60px;
    right:60px;
    width:auto !important;
    
    #site-title {
      text-align:center;
    }
  }
  
}



#main-navigation-wrapper {
  background:transparent;
  ul.nav {
  
    white-space:nowrap;
    
    li {
      
      a {
        
        //text-transform:none;
      }
    }
  }
}

/* Fixed-position header */
#jmc-header-wrap {
  
  &.not-fixed {
  
    .fixed-header-spacer {
      display:none !important;
    }
    
    #jmc-header {
      position:relative;
    }
  }

}

#jmc-header {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000000;
  background: #FFFFFF;
  
  
  #top-search-wrapper {
    background:$jmc-light-gray;
    padding:0;
    position:absolute;
    width:100%;
    
    &:before {
      content:'';
      display:block;
      position:absolute;
      height:4px;
      bottom:0;
      z-index:-1;
      box-shadow:0px 0px 4px 4px rgba( 0,0,0,0.4);
      width:100%;
      background:transparent;
    }
    
  
    .top-search {

      
      #search_text {
        background:transparent;
        border:0;
        outline:none;
        -webkit-appearance:none;
      border-bottom:2px solid #CCC;
        padding:4px 0;
        font-size:20px;
        color:#000000;
        width:100%;
        max-width:800px;

        
       
      }
      
      
    }
  }
}



/* Fix padding & alignment of nav items */
#site-header {
  padding: 0 !important;
}
#site-title {
  padding: 10px 0 !important;
  position: relative;
  top: -1px;
}

/* Spacing between site icons */


/* Spacer for fixed position header */
.fixed-header-spacer {
  height: 71px;
  min-height: 71px;
  max-height: 71px;
}
#top-search-spacer {
  height:77px;
  width:100%;
}

.mobile-header-wrap {
  padding:0 !important;
}

#site-title {
  margin-bottom:0 !important;
}
  


/* ====================
    Mobile Menu Slideout
==================== */

nav#menu {
  
  border-right:1px solid #d5dadc;
  text-transform:uppercase !important;

  &:not(.slideout-panel-hidden) {
    display:block !important;
  }
  
  li.mobile-search {
    padding:0;
    background:transparent;
    border-bottom:1px solid #ebebeb;
  
    form#search {
    
      padding:0;
      
      #search_text {
      
        //height:75px;
        padding:25px 15px;
        line-height:25px;
        box-sizing:border-box;
        background:$jmc-light-gray;
        outline:none !important;
        -webkit-appearance:none;

        display:block;
  
        border-right:1px solid #ebebeb;
        width:251px;
        
      }
    }
  }
  
  /*
  li {
    
    &.nav-margin {
      margin-top:3em;
      
      a {
        border-top:1px solid #ebebeb;
      }
    }
  }
  */
}

#slideout-overlay {
      background-color: rgba(0,0,0,0.7) !important;
}

.mobile-menu--wrapper .mobile-menu-right {
  width: initial !important;
    border-left: 300px solid transparent !important;
}

/* ====================
    Cart Slideout
==================== */

.slideout-menu {
	top:71px;
  width:300px !important;
}

.jmc-cart-drawer-close {
	height: 50px;
  	background-color: $jmc-light-gray;
  
  	.sidr-close-icon {
  		background-color: $jmc-white !important;
      	height: 50px !important;
      	width: 50px !important;
      	top: 0 !important;
      	left: 0 !important;
      
      	> .fa-times {
        	position: relative;
          	top: 11px !important;
        }
  	}
}


.slide-checkout-buttons {
  
  a.btn {
    width: 80%;
  }

}

.jmc-cart-preview {
	// margin-top: 50px;
  	max-height: 62%;
  	overflow: auto;
  	border-top: 1px solid #E0E0E0;
  	border-bottom: 1px solid #E0E0E0;
}
@media only screen and (max-width: 768px) {
  	.jmc-cart-preview {
		max-height: 50%;  
  	}
}
@media only screen and (max-width: 400px) {
  	.jmc-cart-preview {
		max-height: 40%  
  	}
}

.jmc-cart-preview-item {
	width: 100%;
  	min-height: 100px; // FIXME
  	display: block;
  	padding-top: 13px;
  	position: relative;
}
.jmc-cart-preview-item:not(:first-child) {
	border-top: 1px solid #E0E0E0;
}

.jmc-cart-preview-image {
	width: 70px !important;
  	max-height: 70px !important;
}


.jmc-cart-preview-left,
.jmc-cart-preview-right {
	height: 70px;
}

.jmc-cart-thumb {
	max-width: 75px;
}

.jmc-cart-preview-title {
	text-align: left;
  	padding: 2px 10px 2px 2px;
  	margin-bottom: 5px;
  
  	h5 {
    	margin-top: 0;
      	margin-bottom: 0;
      	font-size: 15px !important;
    }  		
}

.jmc-cart-preview-info {
	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	align-items: center;
  	align-content: center;  	
}

.slide-checkout-buttons {
	margin-top: 0 !important;
}

.jmc-quantity-picker {
	width: 25%
}

.cart-menu-close {
	right: initial !important;
  	left: 15px !important;
}

.jmc-cart-preview-remove {
	position: absolute;
  	cursor: pointer;
  	top: 15px;
  	right: 15px;
  	@include transition;
  
  	&:hover {
    	color: $jmc-purple
    }
}

.jmc-cart-preview-empty {
	padding: 50px 0;
}
